PORT=8080
MONGO_URI=mongodb://127.0.0.1:27017/hits_constituency
MYNETA_BASE_URL=https://www.myneta.info
MYNETA_TN_INDEX_PATH=/TamilNadu2026/index.php?action=summary
SCRAPE_CRON=0 */12 * * *
API_ADMIN_KEY=change_me

